{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}

<form action="/books" method="GET" class="d-flex mb-3">

    <input type="text"
           name="search"
           class="form-control me-2"
           placeholder="Search book title">

    <button class="btn btn-primary">Search</button>

</form>

<table class="table table-bordered table-striped">

    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Qty</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>

    {% for book in books %}

    <tr>
        <td>{{ book[0] }}</td>
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
        <td>{{ book[4] }}</td>

        <td>
            <a href="/delete/{{ book[0] }}" class="btn btn-danger btn-sm">Delete</a>
        </td>

        <td>
            <a href="/edit/{{ book[0] }}" class="btn btn-primary btn-sm">Edit</a>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}